html {
    background-color: #F5F5F5;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

/* Budget Div */
#budget {
    width: 50%;
    float: left;
    height: 150px;
    font-size: 20px;
    border: 3px solid green;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;

}

#expence {
    width: 50%;
    float: left;
    margin-top: 50px;
    border: solid 3px red;
    padding: 25px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

#table {
    width: 50%;
    float: right;
    height: 150px;
    box-sizing: border-box;
}

#tableExpence {
    width: 50%;
    float: right;
    margin-top: 50px;
    box-sizing: border-box;
}

#budgetExpenceTable td {
    font-size: medium;
}




#budgetInput {
    margin-top: 10px;
    width: 90%;
    border: green 1px solid;
    border-radius: 5px;
    height: 20px;
}



#budgetBtn {
    border: solid 2px green;
    color: green;
    background-color: #F5F5F5;
    padding: 5px;
    margin-top: 10px;
    height: max-content;
    border-radius: 5px;


}

/* Expence Div */
#expenceNameInput {
    border: red 1px solid;
    border-radius: 5px;
    height: 20px;
}

#expenceInput {
    border: red 1px solid;
    border-radius: 5px;
    height: 20px;
}

#expenceBtn {
    border: solid 2px tomato;
    color: tomato;
    background-color: #F5F5F5;
    padding: 5px;
    margin-top: 10px;
    height: max-content;
    border-radius: 5px;
}



/* Table Styling */
th {
    font-weight: normal;
}

tr {
    font-size: x-large;

}

td {
    font-size: larger;
    color: red;
    padding: 20px;
    text-align: center;

}


@media only screen and (max-width: 600px) {

    #budget {
        clear: both;
        width: 100%;
    }

    #table {
        clear: both;
        width: 100%;
    }

    #tableExpence {
        clear: both;
        width: 100%;
    }

    #enpence {
        padding: 0px;
        width: 100%;
        clear: both;
    }

}



@media only screen and (max-width: 700px) {
    #budget {
        clear: both;
        width: 100%;
    }

    #table {
        clear: both;
        width: 100%;
        margin-top: 30px;
    }

    #tableExpence {
        clear: both;
        width: 100%;
    }

    #expence {

        width: 100%;
        clear: both;
    }

}